.base {
    -fx-background-color: #00141E;
}

.bg {
    -fx-background-color: #00141E;
}

.editor {
    -fx-background-color: #00141E;
    -fx-font-family: Consolas;
    -fx-font-size: 24;
    -fx-text-fill: #FFFFFF;
    -fx-highlight-fill: #00FF00;
}

.top {
    -fx-background-color: #21272E;
}

.tab {
    -fx-background-color: #00141E;
    -fx-background-radius: 10 10 0 0;
}

.project-name {
    -fx-background-color: #00141E;
    -fx-border-color: #ffffff20;
}