.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.styled-text-area .caret {
    -fx-stroke: white;
}

.styled-text-area .selection {
    -fx-fill: #bdb54f; /* Цвет фона выделения */
}

.base {
    -fx-background-color: #00141E;
}

.bg {
    -fx-background-color: #00141ECC;
}

.editor {
    -fx-background-color: #00141E;
    -fx-font-family: Consolas;
    -fx-font-size: 24;
    -fx-text-fill: #FFFFFF;
}

.top {
    -fx-background-color: #21272E;
}

.tab {
    -fx-background-color: #00141E;
    -fx-background-radius: 10 10 0 0;
}

.tab-disable {
    -fx-opacity: 0.5;
}

.project-name {
    -fx-background-color: #00141E;
    -fx-border-color: #ffffff10;
}

.discover_disable {
    -fx-opacity: 0;
}

.discover--item:hover {
    -fx-background-color: ffffff10;
}
