.base {
    -fx-background: #00141E;
}

.project-type {
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-border-style: dashed;
}

.button {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}